{% extends 'base.html' %}


{% block content %}
        <button type="button" class="btn btn-info"><a href="{% url 'task_add' %}">Добавить задачу</a></button>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Описание</th>
      <th scope="col">Ответственный</th>
      <th scope="col">Должность</th>
      <th scope="col">Срочность</th>
      <th scope="col">Статус</th>
        <th scope="col">Создано</th>
        <th scope="col">Закрытие</th>
        <th scope="col">Осталось времени</th>
    </tr>
  </thead>

        {% for task in tasks %}
            <tr
            {% if task.task_status  == 'В работе' %}
                style="background-color: #bbffa7;">
                    {% elif task.task_status == 'Просрочена' %}
                    style="background-color: #ff7b79;">
                                        {% elif task.task_status == 'Выполнена' %}
                                        style="background-color: #6a6c68;">
            {% else  %}
                >
            {% endif %}
            <th scope="row">{{ task.id }}</th>
            <td><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></td>
            <td>{{ task.content }}</td>
            <td>{{ task.responce_worker }}</td>
            <td>!</td>
            <td>{{ task.urgency }}</td>
            <td>{{ task.task_status }}</td>
            <td>{{ task.time_create }}</td>
            <td>{{ task.time_end }}</td>
            {% if task.task_status == 'Выполнена' %}
            	<td>-----</td>
            {% else %}
                <td>{{ task.time_difference }}</td>
            {% endif %}

            </tr>
        {% endfor task %}

{% endblock content %}