<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta http-equiv="refresh" content="60">     {# Обновление страницы каждые content секунд #}

</head>
<body>

<nav class="navbar navbar-expand-xl navbar-light";">
    <div class="container-fluid">
        <div class="collapse navbar-collapse show" id="navbarLight">
                    {% for m in menu %}
                         <a class="btn btn-primary mx-1" aria-current="page" href="{% url m.url_name %}">{{ m.title }}</a>
                    {% endfor menu %}
        </div>
    </div>

</nav>
<div class="text-center">
    <p class='mx-auto' style="font-size:25px;">{% now "d F Y H:i l" %}</p>
</div>

{% block content %}
{% endblock content %}

</body>
</html>