<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTT</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta http-equiv="refresh" content="10">     {# Обновление страницы каждые content секунд #}
    
</head>
<body>

<ul class="nav" style="background-color: #b9e5ff; display: flex;
  justify-content: center; align-items: center">
<H3>{% now "d F Y H:i l" %}</H3>

    {% for m in menu %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"  href="#">{{ m }} |</a>
      </li>
    {% endfor menu%}
</ul>

{% block content %}

{% endblock content %}


</body>
</html>